

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  align-items: stretch;
  padding: 20px;
  background-color: #f7f7f7;
}


.pokemon-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.pokemon-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.pokemon-name {
  color: #000000; 
  text-transform: uppercase;
  margin-bottom: 5px;
}

.pokemon-types,
.pokemon-abilities,
.pokemon-moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.pokemon-type,
.pokemon-ability {
  background: #f8f8f8;
  border-radius: 20px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #666;
  text-transform: capitalize;
}

.pokemon-moves li {
  background: #e9e9e9;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  color: #333;
  font-size: 0.8rem;
  text-align: center;
}


.select-container {
  margin-bottom: 20px;
  text-align: center;
}

.label-generacion {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

select {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

select:hover,
select:focus {
  border-color: #0015ff;
  box-shadow: 0 0 5px rgba(220, 10, 45, 0.3);
}
