body {
  margin: 0;

  background-color: #ffffff;
  color: white;
}


.logo {
  width: 400px; 
  height: auto; 
}



.navbar-brand.mx-auto {
  display: flex; 
  justify-content: center;
}


.container {
  max-width: 100%; 
}