/* PokemonCard.css */

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.pokemon-card img {
  width: 120px; /* Ajusta este tamaño como lo necesites */
  margin-top: 20px;
}

.pokemon-name {
  font-size: 1.4rem;
  color: #333;
  margin: 10px 0;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.pokemon-type {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: capitalize;
}

/* Considera agregar clases para las habilidades si quieres estilizar esa parte también */
